/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@import "./assets/bower_components/Ionicons/css/ionicons.css";
@import "./assets/bower_components/jvectormap/jquery-jvectormap.css";
@import "./assets/dist/css/AdminLTE.css";
@import "./assets/dist/css/skins/_all-skins.css";
@import "./assets/dist/css/adminLTE_KDU.css";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
    
  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
    
  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .mat-h1 {
    padding-left: 1%; 
    padding-top: 1%
  }
  
  .fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }
  
  .input-form {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    display: block;
  }
  
  .mat-checkbox {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    margin: 0 10px;
  }
  