<section class="content">

  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">User Registration</h3>
    </div>

    <div *ngIf="form.submitted && !form.invalid" class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"  >×</button>

      <h5><i class="icon fa fa-check"></i> Alert!</h5>
      Success saving data!
    </div>

    <form #form=ngForm (ngSubmit)="onSubmit()">

      <div class="card-body">

        <mat-error *ngIf="form.submitted && form.invalid">
          Please complete the required fields
        </mat-error>

        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Enter name" 
              name="name" [(ngModel)]="user.name" required autofocus>
        </div>

        <div class="form-group">
          <label for="inputEmail1">Email address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" 
            name="email" [(ngModel)]="user.email" required>
        </div>
        <div class="form-group">
          <label for="inputPassword1">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" 
            name="pass" [(ngModel)]="user.pass" required>
        </div>
        <div class="form-group">
          <label for="inputFile">File input</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputFile">
              <label class="custom-file-label" for="inputFile">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div>
          </div>
        </div>
        
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="check">
          <label class="form-check-label" for="check">Accepting Terms & Conditions</label>
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button> 
        </div>

      </div>
    </form>
  </div>



            
</section>